{% extends 'cal/base.html' %}

{% block content %}
<div class="clearfix">
  <a class="btn btn-info left" href="{% url 'cal:calendar' %}"> Back To Calendar </a>
</div>
{% csrf_token %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<form method="post" action="/event/edit/{{event.id}}/" class="form">
  {% csrf_token %}
    <div class="form-group">
      <label for="title">Title: </label>
      <input type="text" class="form-control" name="title" value={{event.title}}>
    </div>
    <div class="form-group">
      <label for="description">Description: </label>
      <textarea name="description" cols="5" rows="5">{{event.description}}</textarea>
    </div>
    <div class="form-group">
      <label for="start_time">Start Time: </label>
      <input type="datetime-local" class="form-control" name="start_time" value={{event.start_time}}>
    </div>
    <div class="form-group">
      <label for="end_time">End Time: </label>
      <input type="datetime-local" class="form-control" name="end_time" value={{event.end_time}}>
    </div>
  <div class="form-group">
    <p>Choose a color category for this event: </p>
    <div class="color-picker" style="background: #5549A3;">
      <input type="hidden" value="#5549A3" class="color">
    </div>
    <div class="color-picker" style="background: #6d6c6c;">
      <input type="hidden" value="#6d6c6c" class="color">
    </div>
    <div class="color-picker" style="background: #2323a0;">
      <input type="hidden" value="#2323a0" class="color">
    </div>
    <div class="color-picker" style="background: #940D23;">
      <input type="hidden" value="#940D23" class="color">
    </div>
    <div class="color-picker" style="background: #179213;">
      <input type="hidden" value="#179213" class="color">
    </div>
    <input type="hidden" id="bg_color" name="bg_color" value="">
  </div>
  <button type="submit" class="btn btn-info right"> Update </button>
</form>
<form method="post" action="/event/delete/{{event.id}}/">
  {% csrf_token %}
  <button type="submit" class="btn btn-info right"> Delete </button>
</form>
{% endblock %}