* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alata", sans-serif;
}

body{
  background-color: #2f2e2e; 
}

.calendar {
  margin: auto;
  font-size: 12px;
  background-color: #23232c;
  color: white;
  border-radius: 20px;
}

.calendar th {
  text-transform: uppercase;
}

.calendar td {
  border-radius: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}

.calendar th {
  padding: 15px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 14%;
  height: 105px; 
  padding: 25px 10px 0px 10px;
  margin-left: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.calendar td:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.month {
  font-size: 18px;
}

.date {
  font-size: 16px;
  margin-left: 5px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

.fas {
  color: #17a2b8;
}

a {
  color: #17a2b8;
}

a:hover {
  transition: 1.5s;
  left: 0;
  text-decoration: none;
  color: white;
}

#left {
  float: left;
  margin-left: 5%;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: #17a2b8;
  background-color: transparent;
  box-shadow: 0 0 0 0;
  margin: 3px;
  text-decoration: none;
}

.clearfix {
  margin: 15px;
}

.wrapper{
  width: 95%; 
  margin: auto;
}

.right-col{
	position: relative;
	float: right;
  width: 76%; 
}

.left-col{
  background-color: #A0A0A0;
  border-radius: 10px; 
  width: 22%;
  height: 625px;
	position: relative;
  display: inline-block;
}

.display_day{
  font-size: 23px; 
  text-align: center;
  margin-top: 25%; 
  border-radius: 20px; 
  border:2px solid #17a2b8; 
  background-color: #17a2b8; 
}

.day_event{
  font-size: 20px; 
  text-align: center;
}

li{
  padding: 3px; 
  border-radius: 10px; 
  margin: 3px; 
}

/* Events */
.form {
  margin: auto;
}

.form input,
.form select,
.form textarea {
  border-radius: 5px;
  border: 1px solid #17a2b8;
  outline: none;
  background: none;
  padding: 5px;
  width: 100%;
  margin: 3px;
}


.form{
  width: 80%; 
}

.modal{
  color: #949494;
  max-height: 100%;
}

.color-picker{
  width: 25px;
  height: 25px;
  border-radius: 100px;
  display: inline-block;
}

.color-picker:hover{
  opacity: 0.6;
  transition: 0.4s;
}

.form-group p{
  color: grey
}

.border{
  border: 2px solid rgb(255, 255, 255),
}

.modal-content, .modal, .modal .modal-footer {
  background-color: #2F2E2E;
}

#x{
  color: #17a2b8;
}

textarea{
  color: #949494;
}

.btn i{
  font-size: 1.0rem; 
}

